@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'animations.css';
.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}
html, body, #root {
  height: 100%;       /* Ocupa el 100% de la altura */
  width: 100%;        /* Ocupa el 100% del ancho */
  margin: 0;          /* Elimina márgenes por defecto */
  padding: 0;         /* Elimina padding por defecto */
}
.bg-inicio {
  background: rgb(2,0,36);
  background: radial-gradient(circle, #14647f, #16677f, #186a7f, #1c6d7f, #21707f);
  color: rgb(255, 255, 255);
  min-height: 100vh;          /* Garantiza que el contenedor tenga al menos el 100% de la altura de la pantalla */
  height: auto; 
  transition: background-color 0.8s ease;
}
.bg-sec {
  background: rgb(14,69,88);
  background: linear-gradient(90deg, rgba(14,69,88,1) 0%, rgba(24,101,121,1) 53%, rgba(18,68,78,1) 100%);
  color: rgb(255, 255, 255);
  min-height: 100vh;          /* Garantiza que el contenedor tenga al menos el 100% de la altura de la pantalla */
  height: auto; 
  transition: background-color 0.8s ease;
}
.bg-nav {
  background: rgb(2,0,36);
  background: radial-gradient(circle, #14647f, #16677f, #186a7f, #1c6d7f, #21707f);
  color: rgb(255, 255, 255);
}
.custom-card-img {
  width: 100%;            /* La imagen ocupa el 100% del ancho del contenedor */
  height: 200px;          /* Altura fija para todas las imágenes */
  object-fit: cover;      /* La imagen cubre el contenedor sin deformarse */
}
.enlaces{
  color: white;           /* Cambia el color del texto a blanco */
  text-decoration: none;  /* Elimina el subrayado */
  font-weight: lighter;
  &:hover {
    color: #957964;         /* Cambia el color al pasar el ratón */
  }
}
.btn-custom {
  background: #0d4355;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  &:hover {
    color: #59d1b7;         /* Cambia el color al pasar el ratón */
  }
}
.navbar {
  color: #ffffff;
}
.item {
  border: 2px solid rgb(18, 82, 124);
  color: white;
  margin: 10px auto;            /* Centra horizontalmente el contenedor */
  padding: 20px;                /* Espaciado interno */
  width: 100%;                  /* Usa el 100% del ancho disponible */
  max-width: 400px;             /* Limita el ancho máximo */
  height: auto;                 /* Altura ajustable según el contenido */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;          /* Bordes redondeados */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  svg {
    margin-bottom: 10px;        /* Espacio entre el ícono y el párrafo */
    width: 40px;                /* Tamaño del ícono */
    height: 40px;
  }
  
  p {
    font-size: 1.2em;           /* Tamaño de letra para el título */
    margin-bottom: 10px;        /* Espacio debajo del título */
    font-weight: bold;
  }
  
  ul {
    padding: 0;                 /* Elimina el padding por defecto de la lista */
  }
  
  li {
    list-style: none;           /* Elimina los puntos de la lista */
    margin-bottom: 5px;         /* Espacio entre ítems de la lista */
  }
}
.lenguajes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Columnas dinámicas con tamaño mínimo de 100px */
  gap: 2rem;                     /* Espacio entre los elementos */
  justify-items: center;         /* Centra cada elemento dentro de su celda */
  align-items: center;           /* Alinea verticalmente los elementos */
  max-width: 800px;              /* Ancho máximo del contenedor */
  margin: 0 auto;                /* Centra el contenedor en la página */
  padding: 2rem;    
}
.lenguaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #104e63;
  border-radius: 25%;
  width: 150px;
  padding: 1rem;
  transition: transform .2s; /* Animacion */
  box-shadow: 0px 5px #083646;
  &:hover {
    background-color: #104e63;
    transform: scale(1.5); 
  }
}
.proyecto {
  padding: 50px;
  box-shadow: 5px 10px #0d4355;
}
.contacto {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: large;
}

.perfil-content {
  max-width: 900px;           /* Limita el ancho máximo del contenido */
  background-color: #ffffff1a; /* Fondo semitransparente */
  padding: 20px;
  border-radius: 15px;        /* Bordes redondeados */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.perfil-texto {
  color: white;               /* Color del texto */
  font-size: large;
  line-height: 1.6;           /* Espaciado entre líneas */
}

.icono-perfil {
  width: 100px;                /* Tamaño de las imágenes */
  height: 100px;
  object-fit: cover;     /* Hace que las imágenes sean circulares */
  transition: transform 0.3s ease; /* Agrega una animación suave al pasar el mouse */
}

.icono-perfil:hover {
  transform: scale(1.5);      /* Efecto de escala al pasar el mouse */
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}