@import "@fortawesome/fontawesome-free/css/all.min.css";
.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}
html, body, #root {
  height: 100%;       /* Ocupa el 100% de la altura */
  width: 100%;        /* Ocupa el 100% del ancho */
  margin: 0;          /* Elimina márgenes por defecto */
  padding: 0;         /* Elimina padding por defecto */
}
.bg-inicio {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,84,92,1) 70%, rgba(0,212,255,1) 100%);
  color: rgb(255, 255, 255);
}
.bg-proyectos {
  background-color: #2A545C;
  color: white;
}
.bg-header {
  font-weight: bold;
  background: rgb(67,147,166)!important;
  background: linear-gradient(90deg, rgba(67,147,166,1) 0%, rgba(69,114,122,1) 44%, rgba(133,87,158,1) 89%)!important;
}
.bg-sec {
  background-color: #21272E;
}
.custom-card-img {
  width: 100%;            /* La imagen ocupa el 100% del ancho del contenedor */
  height: 200px;          /* Altura fija para todas las imágenes */
  object-fit: cover;      /* La imagen cubre el contenedor sin deformarse */
}
.enlaces{
  color: white;           /* Cambia el color del texto a blanco */
  text-decoration: none;  /* Elimina el subrayado */
  font-weight: lighter;
  &:hover {
    color: #957964;         /* Cambia el color al pasar el ratón */
  }
}
.btn-custom {
  background: #B0C0BC;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  &:hover {
    color: #ffffff;         /* Cambia el color al pasar el ratón */
  }
}
.navbar {
  color: #ffffff;
}