@import "@fortawesome/fontawesome-free/css/all.min.css";
.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}
html, body, #root {
  height: 100%;       /* Ocupa el 100% de la altura */
  width: 100%;        /* Ocupa el 100% del ancho */
  margin: 0;          /* Elimina márgenes por defecto */
  padding: 0;         /* Elimina padding por defecto */
}
.bg-inicio {
  background-color: rgb(42, 84, 92);
  color: rgb(255, 255, 255);
}
.bg-header {
  font-weight: bold;
  background-color: rgb(26, 228, 194)!important;
}
.custom-card-img {
  width: 100%;            /* La imagen ocupa el 100% del ancho del contenedor */
  height: 200px;          /* Altura fija para todas las imágenes */
  object-fit: cover;      /* La imagen cubre el contenedor sin deformarse */
}
.enlaces{
  color: white;           /* Cambia el color del texto a blanco */
  text-decoration: none;  /* Elimina el subrayado */
  &:hover {
    color: #1caedf;         /* Cambia el color al pasar el ratón (azul claro) */
  }
}